@font-face {
  font-family: "Museo Sans Light";
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Bold";
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Museo Sans Light", sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10.0px;
}

.navbar {
  padding: 8px 0px;
}

.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__info {
  display: flex;
  align-items: center;
  text-align: right;
}

.navbar__contacts {
  display: flex;
  flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 10px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: flex;
}

.hero-text {
  flex-basis: 50%;
  padding-right: 100px;
}

.hero-text__title {
  color: #333333;
  font-size: 41px;
  font-weight: 400;
  line-height: 55px;
  margin-bottom: 30px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
  display: inline-block;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__img {
  flex-basis: 39px;
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero-block {
    flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
    max-width: 200px;
  }
  .hero-list__img {
    margin-right: 15px;
  }
}

.offer {
  padding: 90px 0px;
  background: url(../img/offer/offer_img.png) no-repeat;
  position: relative;
  background-size: contain;
  background-position: center right;
}

.offer::before {
  content: " ";
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer-block__title {
  font-size: 24px;
  line-height: 35px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
  max-width: 360px;
  color: #333333;
  margin-bottom: 24px;
}

.offer-block__subtitle {
  display: block;
  font-size: 16px;
  line-height: 1.2;
  font-family: "Museo Sans Light", sans-serif;
  font-weight: 300;
  max-width: 250px;
  color: #333333;
  margin-bottom: 30px;
}

.offer-block__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer-block__input:first-child {
  margin-right: 10px;
}

.offer-block__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 31px;
}

.offer-block__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offer-block__textleft {
  max-width: 224px;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  font-family: "Museo Sans Light", sans-serif;
  font-weight: 300;
}

.offer-block__textright {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.offer-block__text {
  font-size: 15px;
  font-family: "Museo Sans Light", sans-serif;
  font-weight: 300;
  color: #333333;
  margin-bottom: 10px;
}

.offer-block__phone {
  font-size: 15px;
  color: #333333;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer-block {
    width: 100%;
  }
  .offer-block__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer-block__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: none;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer-block__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer-block__button {
    font-size: 13px;
  }
  .offer-block__description {
    flex-direction: column;
    align-items: start;
  }
  .offer-block__textleft {
    margin-bottom: 18px;
  }
}
